{% extends 'base.html' %}

{% block title %}企業の基本情報 - 就集{% endblock %}

{% block content %}
<!-- 画面上部のナビゲータ -->
<nav class="m-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('company_page.show_list') }}">企業一覧</a></li>
    <li class="breadcrumb-item"><a href="{{ url_for('company_page.show_detail', id=context.company_info.id ) }}">企業詳細</a></li>
    <li class="breadcrumb-item active" aria-current="page">基本情報</li>
  </ol>
</nav>

<!-- 画面のタイトル -->
<h1 class="text-center mt-5">{{ context.company_info.name }}</h1>

<!-- 基本情報 -->
<div class="d-grid gap-2 col-10 mx-auto">
  <!-- 編集ボタン -->
  <div class="text-end">
    <a href="#" class="fs-5 link-info link-underline-opacity-0 link-underline-opacity-75-hover" data-bs-toggle="modal" data-bs-target="#modalEditInfoCompany">
      編集
    </a>
  </div>

  <h4 class="text">事業内容</h4>
  <p>{{ context.company_info.business if context.company_info.business else '' }}</p>
  <h4 class="text">経営理念</h4>
  <p>{{ context.company_info.mvv if context.company_info.mvv else '' }}</p>
  <h4 class="text">求められているスキル</h4>
  <p>{{ context.company_info.required_skill if context.company_info.required_skill else '' }}</p>
  <h4 class="text">勤務地</h4>
  <p>{{ context.company_info.location if context.company_info.location else '' }}</p>
  <h4 class="text">福利厚生</h4>
  <p>{{ context.company_info.benefit if context.company_info.benefit else '' }}</p>
  <h4 class="text">志望動機</h4>
  <p>{{ context.company_info.applying_motivation if context.company_info.applying_motivation else '' }}</p>
</div>

<!-- Modal -->
<div class="modal fade" id="modalEditInfoCompany" tabindex="-1" aria-labelledby="modalLabelEditInfoCompany" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <form action="{{ url_for('company_info_page.update', id=context.company_info.id) }}" method="post">
        <div class="modal-header">
          <h5 class="modal-title">基本情報の編集</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <input type="hidden" name="id" value="{{ context.company_info.id }}" />
          <input type="hidden" name="name" value="{{ context.company_info.name }}" />

          <div class="mb-3">
            <label for="inputBusiness" class="form-label">事業内容</label>
            <textarea rows="3" type="text" class="form-control" id="inputBusiness" name="business" value="{{ context.company_info.business }}"></textarea>
          </div>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label for="inputMvv" class="form-label">経営理念</label>
            <textarea rows="3" type="text" class="form-control" id="inputMvv" name="mvv" value="{{ context.company_info.mvv }}"></textarea>
          </div>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label for="inputRequiredSkill" class="form-label">求められているスキル</label>
            <textarea rows="3" type="text" class="form-control" id="inputRequiredSkill" name="required_skill" value="{{ context.company_info.required_skill }}"></textarea>
          </div>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label for="inputLocation" class="form-label">勤務地</label>
            <textarea rows="3" type="text" class="form-control" id="inputLocation" name="location" value="{{ context.company_info.location }}"></textarea>
          </div>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label for="inputBenefit" class="form-label">福利厚生</label>
            <textarea rows="3" type="text" class="form-control" id="inputBenefit" name="benefit" value="{{ context.company_info.benefit }}"></textarea>
          </div>
        </div>

        <div class="modal-body">
          <div class="mb-3">
            <label for="inputApplyingMotivation" class="form-label">志望動機</label>
            <textarea rows="3" type="text" class="form-control" id="inputApplyingMotivation" name="applying_motivation" value="{{ context.company_info.applying_motivation }}"></textarea>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            キャンセル
          </button>
          <button type="submit" class="btn btn-primary">更新</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
