{% extends 'base.html' %}

{% block title %}企業詳細 - 就集{% endblock %}

{% block content %}
<nav class="breadcrumb-nav m-3" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url_for('company_page.show_list') }}">企業一覧</a></li>
    <li class="breadcrumb-item active" aria-current="page">企業詳細</li>
  </ol>
</nav>

<h1 class="text-center mt-5">{{ context.company_name.name }}</h1>

<div class="d-grid gap-2 col-10 mx-auto">
  <div class="text-end">
    <a href="#" class="fs-5 link-danger link-underline-opacity-0 link-underline-opacity-75-hover" data-bs-toggle="modal" data-bs-target="#modalDeleteCompany">
      削除
    </a>
  </div>

  <a href="#" class="btn btn-outline-dark btn-lg mb-3" role="button">基本情報</a>
  <a href="{{ url_for('company_connection_page.show_list', company_id=context.company_name.id) }}" class="btn btn-outline-dark btn-lg mb-3" role="button">
    企業との接触情報
  </a>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDeleteCompany" tabindex="-1" aria-labelledby="modalLabelDeleteCompany" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">企業の削除確認</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>本当に削除しますか？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
        <a href="{{ url_for('company_page.delete', id=context.company_name.id) }}" class="btn btn-danger" role="button">
          削除
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
