.button_extend {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* max-width: 320px; */
  height: 100px;
  /*padding: 10em;*/
  margin: 0.5em auto;
  font-family: sans-serif;
  font-size: 32px;
  color: #000000;
  text-align: center;
  overflow-wrap: anywhere;
  background-color: #f5f5f5;
  border: 2px solid #000000;
  border-radius: 16px;
}

@media (any-hover: hover) {
  .button_extend {
    transition: background-color 0.3s;
  }

  .button_extend:hover {
    color: #ffffff;
    background-color: #a9a9a9;
  }
}


.btn-outline-info {
  font-size: 24px;
  color: #2ec7e6;
  background-color: #faffff;
  border: 2px solid #2ec7e6;
}

@media (any-hover: hover) {
  .btn-outline-info {
    transition: background-color 0.3s;
  }

  .btn-outline-info:hover {
    color: #ffffff;
  }
}


.btn-outline-danger {
  font-size: 24px;
  border: 2px;
}

@media (any-hover: hover) {
  .btn-outline-danger {
    transition: background-color 0.3s;
  }

  .btn-outline-danger:hover {
    font-size: 24px;
  }
}


.form-control::placeholder {
  color: #bbbbbb;
}

.centering_btn :first-of-type {
  margin-right: 5em;
}